.webp .header-productos{
    background-image: url(../img/banner.webp);
}
.no-webp .header-productos{
    background-image: url(../img/banner.jpg);
}
.header-productos{
    position: relative;
    background-image: url(../img/banner.webp);
    height: 20rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}
.header-productos::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0 0 0 / 65%);
    z-index: 1;
}
.contenedor-productos{
    max-width: 120rem;
    width: 90%;
    margin: auto;
}
.barra-productos{
    padding-top: 4rem;
}
@media (min-width: 768px) { 
    .barra-productos{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.logo-productos{
    color: white;
}
.logo__nombre-productos{
    position: relative;
    font-weight: normal;
    z-index: 2;
} 
.no-margin-productos{
    margin: 0;
} 
.centrar-texto-productos{
    
}
.navegacion__productos-modificacion{
    position: relative;
    z-index: 2;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    font-weight: bold;
    background-color: var(--primarioOscuro);
    margin-top: 9.9rem;
    font-size: 2rem;
}
@media (max-width: 768px) { 
    .navegacion__productos-modificacion {
        display: none;
    }
}